{% extends 'base.html' %}

{% load static %}

{% block page_title %}
    <h2>{{ post.title }}</h2>
{% endblock page_title %}

{% block page_content %}

<link rel="stylesheet" href="{% static 'styles/detail.css' %}">

<p>{{ post.body | linebreaks }}</p>

<hr>

<h3 id="comment-identifier">Leave a comment:</h3>
<form method="post">
    {% csrf_token %}
    <div>
        {{ form.author }}
    </div>
    <div>
        {{ form.body }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<hr>

<h3 id="comment-section">Comments:</h3>
{% for comment in comments %}
    <div class="comment-content">
        <p id="comment-title">
            On {{ comment.created_on.date }} <b>{{ comment.author }}</b> wrote:
        </p>
        <div class="card">
            <div class="card-body">
                <p>
                    {{ comment.body | linebreaks }}
                </p>
            </div>
        </div>
    </div>
    <hr>
{% endfor %}

{% endblock page_content %}