/* static/styles/contact.css

.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-card {
    background-color: hsl(218, 71%, 18%);
    font-size: 18px;
}

.centered-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-button {
    margin-top: 20px;
    align-self: center;
} */
